# Configuration de la base de données
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=12345567890
DB_NAME=gestion_colis
DB_PORT=3306

# Configuration du serveur
PORT=3000
NODE_ENV=development

# Configuration CORS
CORS_ORIGIN=http://localhost:3001 